{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<main role="main" class="container">

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="bg-light my-4 p-4">

                <form method="post" action="">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}

                    <div class="col-12 text-center">
                        <legend class="border-bottom mb-4">Register</legend>
                    </div>
            
                    <div class="form-group">
                        <div class="col-12">
                            {% if form.fname.errors %}
                                {{ form.fname(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.fname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                            {{ form.fname(class='form-control', placeholder='First Name') }}
                            {% endif %}
                        </div>
                        
                    </div>
            
                    <div class="form-group">
                        <div class="col-12">
                            {% if form.fname.errors %}
                                {{ form.fname(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.fname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                            {{ form.lname(class='form-control', placeholder='Last Name') }}
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-12">
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                            {{ form.email(class='form-control', placeholder='Email Address') }}
                            {% endif %}
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        
                    </div>

                    <div class="form-group">
                        <div class="col-12">
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                            {{ form.password(class='form-control', placeholder='Password') }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-12">
                            {% if form.confirmPassword.errors %}
                                {{ form.confirmPassword(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirmPassword.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                            {{ form.confirmPassword(class='form-control', placeholder='Confirm Password') }}
                            {% endif %}
                        </div>
                        
                    </div>

                    <div class="form-group">
                        <div class="col-12">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                        
                    </div>

                </form>

                <div class="col-12 text-center">
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Already Have An Account? <a class="ml-2" href="{{ url_for('auth.login') }}">Log In</a>
                        </small>
                    </div>
                </div>
                

            </div>
        </div>

    </div>

    
</main>

{% endblock %}