### Flask.Python Stack ###
*.pyc
__pycache__/


### Development db ###
*.db
*.sqlite3

### Flask ###
instance/*
!instance/.gitignore
.webassets-cache

# Environments
.env
.venv
env/


# Others
.vscode
dist/
build/
*.egg-info/
*.sh